---
 
---
@import "{{ site.theme }}";

/* 根据系统的深色模式响应深色变量 */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #ffff;
    --textColor: #282c34;
    --borderColor: #2c2c3a;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: #282c34;
    --textColor: #efefef;
    --borderColor: #2c2c3a;
  }
}

h1 {
 
display: none;
 
}

img {

border-radius: 20px;
 
}
