---
 
---
@import "{{ site.theme }}";

body {
  color: var(--text-color);
  background: var(--bg);
}

body a {
  color: var(--link-color);
}

/* 根据系统的深色模式响应深色变量 */
@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --text-color: #282c34;
    --borderColor: #2c2c3a;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282c34;
    --text-color: #efefef;
    --borderColor: #2c2c3a;
  }
}

h1 {
 
display: none;
 
}

img {

border-radius: 20px;
 
}
